<ul>
  <li id="nav_home" class="page_item"><%= link_to 'Home', root_path %></li>
  <li id="nav_about" class="page_item"><%= link_to 'About', :controller => '/main', :action => 'about' %></li>
  <li id="nav_leagues" class="page_item"><%= link_to 'Leagues', :controller => '/main', :action => 'leagues' %></li>
  <li id="nav_contact" class="page_item last"><%= link_to 'Contact', :controller => '/main', :action => 'contact' %></li>
</ul>
