/* styles */
	
html body div.clear,
html body span.clear {
  background : none;
  border : 0;
  clear : both;
  display : block;
  float : none;
  font-size : 0;
  margin : 0;
  padding : 0;
  overflow : hidden;
  visibility : hidden;
  width : 0;
  height : 0 }

.clearfix:after {
  clear : both;
  content : '.';
  display : block;
  visibility : hidden;
  height : 0 }

.clearfix {
  display : inline-block }

* html .clearfix {
  height : 1% }

.clearfix {
  display : block }

#header {
  background : #292f40; }

.left {
	float : left;
}

.right {
	float : right;
}

.text_right {
	text-align : right;
}

body {
  background : #292f40 ;
}

#wrapper, 
#wrapper p {
  color : #fff;
  font-family : "museo-thin", "Helvetica Neue",arial; }

#wrapper p strong {
  font-family : "museo-bold", "Helvetica Neue",arial; }

h1,h2,h3,h4,h5,h6 {
  margin : 0;
  padding : 0;
  line-height : 1em;
  color : #fff;
  margin-bottom : 0.5em }

p {
  font-size : 14px;
  line-height : 21px }

a:link,a:visited {
  color : #73d2b7 }

a:hover {
  text-decoration : none }

strong {
  font-weight : bold }

#top_strip {
  background : #1b1f2e;
  height : 24px;
  font-size : 10px;
  padding-top : 6px;
  letter-spacing : 0.5px }

#top_strip {
  color : #fff; }

#top_strip a {
	color : #fb3950;
	font-family : "museo-bold", "Helvetica Neue",arial;
  text-decoration : none;
  padding : 6px 0 8px 0 }

#top_strip a:hover {
  text-decoration : underline; }

#top_strip span {
  margin : 0 4px;
  color : #444 }

#top-contact {
  text-align : right }

#content,#footer {
  margin-bottom : 1.5em }

#logo {
  height : 47px;
  margin-top : 32px; }

#logo h1, #logo h2 {
  text-indent : -9999px }

#logo a {
  height : 114px;
  width : 250px;
  display : block;
  background : url('/images/logo.png') no-repeat }

#nav {
  height : 114px;
  display : block;
  float : right;
  margin : 0 -15px 0 0 }

#nav ul {
  margin : 30px 0 0 0;
  padding : 0 }

#nav li {
  display : inline;
  margin : 0;
  padding : 0 }

#nav li a {
  color : #fff;
  display : block;
  border-right : 1px solid #494f63;
  float : left;
  font-size : 18px;
  font-family : "museo-bold", Helvetica, Arial;
  text-transform : uppercase;
  text-decoration : none;
  height : 50px;
  line-height : 50px;
  cursor : pointer;
  padding : 0px 25px 0px 25px; }

#nav li.last a {
	border-right : none;
	padding-right : 0; }
	
#nav li a:hover {
	background : #4b5060;
	color : #afe8db; }

#footer {
  padding : 0.65em 0 80px 0;
  border-top : 1px dotted #61514c;
  margin : 40px
auto 100px auto }

#content a:hover {
	background : none;
	text-decoration : none;
}


#footer
p {
  color : #796761;
  font-size : 12px;
  line-height : 17px }

#footer
a {
  color : #796761 }

#footer a:hover {
  color : #73D2B7 }

#footer
strong {
  font-weight : bold }

#ft-nav ul,
#ft-nav
li {
  margin : 0;
  padding : 0;
  list-style : none }

#ft-nav a {
  display : block;
  padding : 1px
8px;
  text-decoration : none }

#ft-nav a:hover {
  background : #413430 }

.post {
  margin : 1.5em 0 }

.post h2 {
  margin-bottom : 0.5em }

.post img {
  margin-bottom : 5px }

.post img.hidden-ss {
  display : none }

#smart img {
  margin : 15px
0 30px 0 }

#smart
h1 {
  text-indent : -9999px }

p.lead {
  font-size : 24px;
  font-weight : normal }

#impact_banner {
  height : 316px;
  background : url('/images/impact_bg.png') repeat-x;
  position : relative; }

.impact_image_container {
	height : 316px;
	position : relative;
}

#impact_banner img {
  position : absolute;
  bottom : 0px;
  right : -45px; }

#mission {
  margin : 45px 0 0 0 }

#mission h1 {
  color : #afe8db;
  font-size : 52px;
  font-family : "museo-bold", "museo-normal", Helvetica, Arial;
  line-height : 60px;
}

.aktt_tweets ul,
.aktt_tweets
li {
  padding : 0;
  margin : 0;
  list-style : none;
  line-height : 16px }

.aktt_tweets
ul {
  margin-top : -10px;
  position : relative }

.aktt_tweets
li {
  border-bottom : 1px solid #3a2e2b;
  padding : 10px
0 }

li.aktt_more_updates {
  display : none }

#main.index #content #mainblurb h2 {
  font-size : 34px;
  font-family : "museo-bold", Helvetica, Arial;
  margin-bottom : 15px;
  position : relative;
  margin-top : -8px }

#mainblurb p {
  font-size : 18px;
  line-height : 26px;
  letter-spacing : 0.25px }

#options a:hover {
  background-position : bottom }

#main.index #content {
  margin : 60px 0 0 0 }

#pitch {
  padding : 50px
0 5px 0;
  display : block }

#tweets {
  padding-left : 10px }

p.testimonial {
  background : url('/images/testimonial-bg.png') bottom left no-repeat;
  padding : 20px;
  padding-bottom : 40px;
  font-size : 13px;
  line-height : 19px;
  margin-bottom : 10px }


/* latest result box */
img.player_pic {
  border : solid #fff;
  border-width : 4px 4px 4px 4px; }

.latest_result .home_player {
	float : left;
	background : red;
	width : 155px;
	margin-right : 7px;
}

.latest_result .away_player {
	background : green; }

.latest_result .score {
	float : left;
}

.latest_result .home_player .score {
	float : right;  }

.latest_result .player {
	float : left;
	margin : 10px 20px 10px 20px;
}

.latest_result img.player_pic {
  display : block; }


.latest_result .away_player {
	float : right;
	width : 155px;
}

h3.versus {
	width : 30px;
	float : left;
	text-align : center;
	text-transform : lowercase;
}

.latest_result {
	background : #1b1f2e;
	float : left;
	width : 380px;
	padding : 20px;
}

.latest_result p {
	font-size : 16px; }