/* reset browsers */
* { padding:0; margin:0; }
p { padding: 0 0 15px 0; }
img, a img { border: 0; }
ul li { list-style: none; }
:focus { -moz-outline-style: none; }
body { -webkit-text-size-adjust: none; }


/* styles */
body {
  background : #fff; /* url(/images/background.jpg)*/;	
  font-family: "Lucida Grande", Verdana, sans-serif;
  text-align : center; }

.clear { clear: both; }

#container {
  margin : 0 auto;
  text-align : left;
  width : 960px; }

#top_strip {
	background : #e54a4a;
	height : 100px;
	width : 100%; }
	
